<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= current_user.email unless current_user.nil? %>

<%= yield %>

  <% unless current_user.nil? %>
    <%= button_to "Logout", "/session", method: :delete %>
  <% end %>
</body>
</html>
